# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compilation trash
*.tlog
*.idb
*.pdb
*.vcxproj.filters
*.vcxproj.user
*.ipch
*.ilk
*.exp
*.ipdb
*.iobj
*.VC.dylib
*.Build.CppClean.log
.vs
demo-expfit/x64/Debug/demo-expfit.log
demo-expfit/x64/Release/demo-expfit.log
demo-levmar++/Debug/demo-levmar++.log
demo-levmar++/Release/demo-levmar++.log
demo-levmar++/x64/Debug/demo-levmar++.log
demo-levmar++/x64/Release/demo-levmar++.log
levmar++/Debug/levmar++.log
levmar++/Release/levmar++.log
levmar++/x64/Debug/levmar++.log
levmar++/x64/Release/levmar++.log
